[user]
    name = Frankie Okoth
    email = 114023703+frankieokoth@users.noreply.github.com

[core]
    editor = cursor --wait
    excludesfile = ~/.gitignore_global
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = true

[fetch]
    prune = true

[push]
    default = simple
    autoSetupRemote = true

[color]
    ui = auto

[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    amend = commit --amend --no-edit
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    root = rev-parse --show-toplevel